



<section class="jum-txt jumbotron container">
	<div class=" col-md-5 pic-text">
		<img class="pic" src="/image/IMG_4240.JPG" title="Github" class="" alt="github image">
	</div>

	<h2>People say Hello!</h2>
	<div class=" col-md-7 alert terminal" role="alert">:<span class="Red">~/</span> Devs say <span class="Green">$</span>>_ "Hello World"! </div>
	  
  <p class="container">
  A business Information Technology graduate with honours degree from the University of Greenwich, excellent research, possessing time management, problem solving skills and know how work in group or work with the minimum of supervision when a job meant to be individually. Understanding how essential the effective IT system & support can bring to any organisation the positive impact of business growth and better service. I am highly organised with the ability to manage multiple projects and consistently meet deadlines. Looking to secure an IT position to use and further to develop my current skills and knowledge in a practical and fast-paced environment. My career goal is to assume a role that allows me to take responsibility for the commercial workplace for a well-respected and market-leading company for a future Senior position as a IT professional.</p>
</section>


