<div class="container">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/Hangman.png" alt="...">
      <div class="caption">
        <h3>Hangman Game</h3>
        <p>This is a sample game using HTML, HTML5 , JS , CSS (Single Page Web Application).
          This project is intended as a demonstration of technical capabilities rather than design or helpful data., using the technologies described above./p>
        <p><a href="https://calliari-sg-project-1.herokuapp.com/" class="btn btn-primary" role="button" target="_blank">Click here to check</a></p>
      </div>
    </div>
  </div>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/allcurtains.png" alt="...">
      <div class="caption">
        <h3>All Curtains website</h3>
        <p> A website fully function using technologies such as wordPress, PHP, CSS and plugins for a better interaction with the user, I am the developer who gives now the mantencance on this porject after the deployment process. </p>
        <p><a href="http://www.allcurtains.co.uk/home/" class="btn btn-primary" role="button" target="_blank">Click here to check</a></p>
      </div>
    </div>
  </div>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/cSharp.jpg" alt="...">
      <div class="caption">
        <h3>To do list in C#</h3>
        <p>This is just a little proejct in C#, as I am kin of learnig different programming languages.</p>
        <p>This is only a prototype which which had got limitaions and is not fully work, still in development process.</p>
        <p><a href="https://github.com/Calliari/ToDoList" class="btn btn-primary" role="button" target="_blank">Click here to check</a></p>
      </div>
    </div>
  </div>


  </div>
