<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
        body {background-color: powderblue;}
        h1   {color: blue;}
        h2 {color: green;}
        p    {color: red;}
    </style>

    <title>Articles</title>
  </head>
  <body>

    <% @articles.each_with_index do |article| %>
    <h1>Articles</h1>
      <h2><%= article.article_name %><h2>
      <h3><%= article.body_text %></h3>
      <p><%= article.date_posted %></p>
    <% end %>

  </body>
</html>


<!-- Fixed  -->
 <!-- <nav class="navbar navbar-default ">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href=" /portfolio/ "><img src="/image/user.png" title="linkedIn" class="img-responsive" alt="linkedIn imgage">My Portfolio</a>
     </div>
     <div id="navbar" class="collapse navbar-collapse">
       <ul class="nav navbar-nav img-responsive">
         <li><a href=" /portfolio/ "><img src="/image/home.png" title="linkedIn" class="img-responsive" alt="linkedIn imgage">Home</a></li>
         <li><a href=" /portfolio/cv "><img src="/image/resume.png" title="linkedIn" class="img-responsive" alt="linkedIn imgage">My Curriculum</a></li>
         <li><a href=" /portfolio/project  "><img src="/image/proj.png" title="linkedIn" class="img-responsive" alt="linkedIn imgage">My Projetcs</a></li>
       </ul>
     </div> <!--/.nav-collapse -->
   <!-- </div>
 </nav> -->
